* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  
}

:root {
  --primary: #d5efff;
  --secondary: #FF7F11;
  --light: #F7ECE1;
  --highlight: #90FCF9;
  --extra: #388ad7;
}

h1 {
  font-family: 'Oswald', sans-serif;
}