* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  
}

:root {
  --primary: #e3f4ff;
  --secondary: #FF7F11;
  --light: #F7ECE1;
  --highlight: #90FCF9;
  --extra: #6a8cac;
}

h1 {
  font-family: 'Oswald', sans-serif;
}